logs
target
/.bsp
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
/.vscode
/.metals
/.g8
/.bloop
/.vscode
metals.sbt
.bloop/
.env
env.bat
resources/client_secret_oauth.json
resources/client_secret_service.json