@(genForm: Form[model.data.GenerationSheetForm], updateForm: Form[model.data.UpdateSheetForm])(implicit request: RequestHeader, messagesProvider: MessagesProvider)

@import helper._

@main("Fuyuki-Gen-Sheet"){
  <h2>Fuyuki-Gen-Sheet</h2>
  <div>
    <h3>Générer une sheet</h3>
    @helper.form(action = helper.CSRF(routes.SheetGenerationController.generateSheetForm)){
      @CSRF.formField
      @helper.inputText(genForm("idWar"))
      @helper.inputText(genForm("mail"))
      <input type="submit" value="Générer la sheet" />
    }
  </div>
  <div>
    <h3>Mettre à jour une sheet</h3>
    @helper.form(action = helper.CSRF(routes.SheetGenerationController.updateSheetForm)){
      @CSRF.formField
      @helper.inputText(genForm("idWar"))
      @helper.inputText(genForm("urlSpreadsheet"))
      <input type="submit" value="Mettre à jour la sheet" />
    }
  
  </div>
}

